#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.botoes-modals-admin {
  -webkit-text-stroke: transparent;
  width: 10rem;
  max-height: 5rem;
  margin: 2%;
  font-weight: 200;
}
