header h1 {
  font-weight: 300;
  color: white;
}

header {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  /* background-color: #0E6654; */
  border-bottom: 0px solid transparent;
  z-index: 2;
  background:
    linear-gradient(#a9ffb7, 10%, #0e6654, 90%, rgb(171, 255, 213)),
    linear-gradient(to bottom right, #4adbbc, 78%, chartreuse);
  background-blend-mode: luminosity;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.678);
}

header::before {
  content: '';
  position: absolute;
  background-size: cover;
  opacity: 0.1;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages-wixmp-ed30a86b8c4ca887773594c2.wixmp.com%2Ff%2F451b4b99-9bcd-4a9b-9066-7fe38006684c%2Fd671l1n-fddabdcc-744b-452e-a5ee-db881d2be857.png%2Fv1%2Ffill%2Fw_600%2Ch_450%2Cstrp%2Faero_glass_clipart_texture_by_diamond00744_d671l1n-fullview.png%3Ftoken%3DeyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDUwIiwicGF0aCI6IlwvZlwvNDUxYjRiOTktOWJjZC00YTliLTkwNjYtN2ZlMzgwMDY2ODRjXC9kNjcxbDFuLWZkZGFiZGNjLTc0NGItNDUyZS1hNWVlLWRiODgxZDJiZTg1Ny5wbmciLCJ3aWR0aCI6Ijw9NjAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.IyzfShVm9a-uQSfpC9_Tz92wVl0XEL1niPbUbQ5SA40&f=1&nofb=1&ipt=1707f12c680021ac09316d420fe3127eed8efde44cd590b12b48c75c53617293');
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#sub-header-selector {
  justify-content: space-around;
  width: 100vw;
  padding-block: 2%;
  position: absolute;
  display: flex;
  left: 0;
  top: 2rem;
  z-index: 1;
  font-size: 20pt;
  transition: top ease-in 500ms;
  background: linear-gradient(#effffc34, 75%, #b6ffee36, #91ebd93b),
    linear-gradient(to bottom right, rgba(255, 255, 255, 0.3), rgba(149, 228, 189, 0.3));
  background-blend-mode: luminosity;
  color: transparent;
}

#sub-header-selector:hover {
  top: 7rem;
  transition: top ease-out 350ms;
  color: white;
}

#inv-puller {
  position: absolute;
  top: 0;
  padding: 3%;
  padding-top: 5rem;
  width: 94%;
  color: transparent;
  user-select: none;
  z-index: 0;
}

#puller-thingy:hover {
  color: transparent;
}

#div-botoes-modificacao {
  display: flex;
  justify-content: space-around;
}

.div-geral-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link-header {
  color: #cefff5;
  z-index: 10;
  transition: 100ms;
  font-weight: 300;
  text-shadow: 1px 1px 2px #052720;
}

.link-header:hover {
  text-decoration: underline;
  text-decoration-thickness: 1%;
  color: #cefff5;
}

.link-below-header {
  color: #9bffcd;
  z-index: 10;
  transition: 100ms;
  font-weight: 400;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.678)
}

.link-below-header:hover {
  text-decoration: underline;
  text-decoration-thickness: 1%;
  color: #cefff5;
}

.texto-botoes {
  -webkit-text-stroke: rgb(20, 20, 20) 0.02rem;
}

.botao-fechar {
  background: linear-gradient(white 1%, rgba(219, 153, 153, 0.788) 1%, 43%, rgba(175, 42, 42, 0.541) 50%, rgba(122, 27, 27, 0.781) 50%, rgb(241, 131, 112)),
    radial-gradient(rgb(133, 60, 60), 85%, rgba(255, 231, 231, 0.651));
  transition: ease-out 250ms;
}

.botao-fechar:hover {
  background: linear-gradient(white 1%, rgb(214, 53, 53) 1%, 43%, rgb(236, 55, 55) 50%, rgb(209, 30, 30) 50%),
    radial-gradient(grey, 80%, rgb(255, 213, 188));
  box-shadow: 0 0 30px rgb(255, 69, 12);
}

.botao-fechar:active {
  background: radial-gradient(circle at 50% 50%, transparent 20%, rgba(0, 0, 0, 0.5) 100%),
    linear-gradient(to bottom,
      #472224 0%,
      #581515 45%,
      #491616 55%,
      #bd1802 100%);
}

.texto-misc {
  color: white;
  font-size: larger;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.678)
}

#botao-fechar-modal {
  background: linear-gradient(white 1%, rgba(219, 153, 153, 0.788) 1%, 43%, rgba(175, 42, 42, 0.541) 50%, rgba(122, 27, 27, 0.781) 50%, rgb(241, 131, 112)),
    radial-gradient(rgb(133, 60, 60), 85%, rgba(255, 231, 231, 0.651));
  transition: ease-out 250ms;
}

#botao-fechar-modal:hover {
  background: linear-gradient(white 1%, rgb(214, 53, 53) 1%, 43%, rgb(236, 55, 55) 50%, rgb(209, 30, 30) 50%),
    radial-gradient(grey, 80%, rgb(255, 213, 188));
  box-shadow: 0 0 30px rgb(255, 69, 12);
}

#botao-fechar-modal:active {
  background: radial-gradient(circle at 50% 50%, transparent 20%, rgba(0, 0, 0, 0.5) 100%),
    linear-gradient(to bottom,
      #472224 0%,
      #581515 45%,
      #491616 55%,
      #bd1802 100%);
}

.modals {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 6%;
  padding-inline: 3%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:
    linear-gradient(transparent, 10%, #0e665428, 90%, rgba(171, 255, 189, 0.596));
  border-radius: 5%;
  position: absolute;
}

.modals h1 {
  font-weight: 200;
  font-size: 60pt;
  color: white;
}

.botoes-modals {
  -webkit-text-stroke: transparent;
  width: 10rem;
  max-height: 3rem;
  aspect-ratio: auto;
  margin: 2%;
  font-weight: 200;
}

.div-botoes-modals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-top: 5%;
}

.modals input {
  border-radius: 4%;
  margin: 1%;
  padding: 1%;
  width: 50%;
  outline: rgba(25, 133, 141, 0.575) 2px solid;
  border: rgb(77, 77, 77) 1px solid;
}

#div-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  backdrop-filter: blur(5px) grayscale(0.9);
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: all;
}

body {
  background: linear-gradient(to bottom right, #74b8fcb7, 57%, #0045ac),
    radial-gradient(ellipse at bottom left, white, #74b8fcb7);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.botoes-acesso {
  width: 20rem;
  height: 1rem;
  -webkit-text-stroke: transparent;
  font-weight: 300;
}

#texto-boas-vindas {
  top: 5rem;
  right: 2.4rem;
  font-weight: 200;
  font-size: 55pt;
  position: absolute;
  color: midnightblue;
  opacity: 0.47;
  animation:
    1.75s ease-out slideINBoasVindas,
    2.9s ease-in-out slideOUTBoasVindas 5.5s forwards;
}

@keyframes slideINBoasVindas {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slideOUTBoasVindas {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-150%);
  }
}