header h1 {
  font-weight: 300;
  color: white;
}

header {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  /* background-color: #0E6654; */
  border-bottom: 0px solid transparent;
  z-index: 2;
  background:
    linear-gradient(#a9ffb7, 10%, #0e6654, 90%, rgb(171, 255, 213)),
    linear-gradient(to bottom right, #4adbbc, 78%, chartreuse);
  background-blend-mode: luminosity;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.678);
}

#sub-header-selector {
  justify-content: space-around;
  width: 100vw;
  padding-block: 2%;
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  z-index: 1;
  transition: top ease-in 500ms;
  background: linear-gradient(#effffc, 75%,#b6ffee,#91ebd9),
              linear-gradient(to bottom right, rgb(255, 255, 255), rgb(149, 228, 188));
  background-blend-mode: luminosity;
  color: transparent;
}

#sub-header-selector:hover {
  top: 7rem;
  transition: top ease-out 350ms;
  color: white;
}

#inv-puller {
  position: absolute;
  top: 0vh;
  padding: 3%;
  padding-top: 9%;
  width: 94%;
  color: transparent;
  user-select: none;
  z-index: 0;
}

#puller-thingy:hover {
  color: transparent;
}

.link-header {
  color: #59BBA7;
  z-index: 10;
  transition: 100ms;
}

.link-header:hover {
  transition: 300ms;
  color: #665E43;
  filter: drop-shadow(3px 0 1px #E6D293) drop-shadow(-3px 0 1px #E6D293);
}

.link-below-header {
  color: #93E6D5;
}

.link-below-header:hover {
  transition: 300ms;
  color: #E6D293;
  filter: drop-shadow(3px 0 1px #665E43) drop-shadow(-3px 0 1px #665E43);
}

#div-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(0px);
  background-color: rgba(0, 0, 0, 0);
  z-index: 999;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: all;
}

/* Color Palette:
  #0E6654 (monochromatic base)
  #1D213C
  */