  :root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87);
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }

  a:hover {
    color: #535bf2;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    width: 100vw;
    height: 100%;
    background: linear-gradient(to bottom right, #74b8fcb7, 57%, #0045ac),
      radial-gradient(ellipse at bottom left, white, #74b8fcb7);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  button {
    border-radius: 8px;
    border: 1px solid black;
    padding: 4%;
    aspect-ratio: 1;
    font-weight: 400;
    font-family: inherit;
    background: linear-gradient(white 1%, rgba(211, 211, 211, 0.788) 1%, 43%, rgba(165, 165, 165, 0.541) 50%, rgba(128, 128, 128, 0.781) 50%),
      radial-gradient(grey, 80%, rgba(255, 255, 255, 0.651));
    background-blend-mode: overlay;
    cursor: pointer;
    color: whitesmoke;
    outline: rgb(255, 255, 255) 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 10px;
    font-size: x-large;
    -webkit-text-stroke: black 0.05rem;
    transition: ease-out 200ms;
    box-shadow: none;
  }

  button:hover {
    background: linear-gradient(white 1%, rgba(105, 211, 211, 0.788) 1%, 43%, rgba(82, 165, 165, 0.541) 50%, rgba(64, 128, 128, 0.781) 50%),
      radial-gradient(grey, 80%, rgba(125, 255, 255, 0.651));
    box-shadow: 0 0 30px rgb(36, 255, 255);
  }

  button:active {
    background: linear-gradient(white 1%, rgba(38, 78, 78, 0.788) 1%, 43%, rgba(30, 61, 61, 0.541) 50%, rgba(20, 41, 41, 0.781) 50%),
      radial-gradient(grey, 80%, rgba(125, 255, 255, 0.651));
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  .div-cont-info {
    top: 5rem;
    padding: 5%;
    margin: 15%;
    background:
      linear-gradient(#ceffd665, 10%, #0e665428, 90%, rgba(171, 255, 189, 0.596));
    background-blend-mode: luminosity;
    border-radius: 15px;
    color: black;
    text-shadow: 0 0 4px white;
    position: relative;
  }

  .div-cont-info::before {
    content: '';
    position: absolute;
    background-size: cover;
    opacity: 0.2;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages-wixmp-ed30a86b8c4ca887773594c2.wixmp.com%2Ff%2F451b4b99-9bcd-4a9b-9066-7fe38006684c%2Fd671l1n-fddabdcc-744b-452e-a5ee-db881d2be857.png%2Fv1%2Ffill%2Fw_600%2Ch_450%2Cstrp%2Faero_glass_clipart_texture_by_diamond00744_d671l1n-fullview.png%3Ftoken%3DeyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDUwIiwicGF0aCI6IlwvZlwvNDUxYjRiOTktOWJjZC00YTliLTkwNjYtN2ZlMzgwMDY2ODRjXC9kNjcxbDFuLWZkZGFiZGNjLTc0NGItNDUyZS1hNWVlLWRiODgxZDJiZTg1Ny5wbmciLCJ3aWR0aCI6Ijw9NjAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.IyzfShVm9a-uQSfpC9_Tz92wVl0XEL1niPbUbQ5SA40&f=1&nofb=1&ipt=1707f12c680021ac09316d420fe3127eed8efde44cd590b12b48c75c53617293');
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
  }

  .div-cont-info h3 {
    font-weight: 200;
    font-size: 55pt;
    position: absolute;
    bottom: 40%;
    left: 4%;
    color: midnightblue;
    opacity: 0.47;
  }

  .div-cont-info h3::after {
    content: '';
    background-color: midnightblue;
    width: 100rem;
    position: absolute;
    left: 50%;
  }