#main-login-div select {
  padding: 0.4rem;
  width: 13rem;
  text-align: center;
  margin: 0.3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 6%;
  outline: rgba(25, 133, 141, 0.575) 2px solid;
  border: rgb(77, 77, 77) 1px solid;
}